/*
 Colors
Dark Brown: #5b3000
Gray Brown: #66462c
Silver brown-ish: #726953
#76877d
Gray Azure: #82a6b1

*/

@media screen {
    h1 {
        font-family: "Black Ops One", system-ui;
        font-size: 30px;
    }

    body {
        background-color: #e8f1f2;
    }

    .title {
        font-size: 20px;
    }

    .flourish-embed flourish-chart {
        size: 100px;
        background-color: white;
    }

    .pullquote {
        background-color: #ffffff;
    }

    .quote {
        font-family: Black Ops One;
        color: black;
        width: 100%;
        text-align: center;
        font-weight: bold;
        font: italic;
        font-size: 45px;
    }

    .datawrapper {
        background-color: white;
    }

    .attribution {
        width: 100%;
        text-align: center;
        color: Black;
        font-family: Black Ops One;
        font-weight: bold;
        font: italic;
        font-size: 35px;
        background-color: #ffffff;
    }

    .quotemark {
        font-family: Georgia;
        font-size: 150px;
        color: black;
        padding: 35px 7px 0px 8px;
        line-height: 0.5em;
        float: left;
    }

    img {
        width: 100%;
    }

    .caption {
        color: black;
        font-weight: bold;
        font: italic;
    }

    .credit {
        color: black;
        font-weight: bold;
        font: italic;
    }

    p {
        font-family: Inter;
    }
    #text {
        width: 100%;
    }
}
@media (min-width: 576px) {
    h1 {
        font-size: 50px;
    }
    #text {
        width: 60%;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 65px;
    }
}
@media (min-width: 992px) {
    h1 {
        font-size: 90px;
    }
}
