/*
MY COLOR PALETTE
Color 1 - #13293D
Color 2 - #006494
Color 3 - #247BA0
Color 4 - #247BA0
Color 5 - #E8F1F2
*/

body {
    background-color: #e8f1f2;
    text-align: center;
}

button {
    background-color: #006494;
    color: #e8f1f2;
    letter-spacing: 0.6xpx;
    width: 300px;
    padding: 30px;
    margin-top: 30px;
    border: none;
    border-radius: 8px;
}

button:hover {
    background-color: #1b98e0;
}

h1 {
    font-family: "Merriweather", serif;
}

h2 {
    font-family: "Catamaran", sans-serif;
}
