img {width: 100%;
}

/*This is a comment*/

*/Color Pallette*/
*Dark Blue - #13293d
*Dark Turquoise - #006494
*Light Blue- #e8f1f2

@media 







#headshot {
    width: 100%;

}

#topper {
    background-color: #e8f1f2
    
    
}

#headshot {
    width:
    border-radius
    border: 8px 
    
}




h1 {  
    font-family: "Merriweather", serif;
    letter-spacing:normal
    font-weight:bold;
    text-transform:uppercase;
    color: #13293d;
    
    #navigation {
         background-color: #006494
    
    }
    
    .nav {
    justify-content: center;
        
    } 
    
    .nav a{
        color: #38b6ff    
    }
        
    .nav a hover{
        font-weight: bold
        background-color: #006494
        
    }
    
    
    @media (min-width:576px)
        h1{font-size}