img {width: 100%;
}

/*This is a comment*/

/*Color Pallette*/
/*Dark Blue - #13293d
/*Dark Turquoise - #006494
/*Light Blue- #e8f1f2


/*This is my first media query. It is my default media query. It includes all CSS rules that I want to apply to every screen that views my project, no matter the size*/
@media screen {
    #topper {
        background-color: #e8f1f2;
    }
    #body {
        background-color: #e8f1f2;
    }
    
    
    
#headshot {
    width: 100%;
    border-radius: 45px;
    border: 8px; 
}

    
     h1 {
        font-family: "Merriweather", serif;
        letter-spacing: normal
        font-weight: bold;
        text-transform: uppercase;
        color: #13293d;
        padding: 10px 0px 0px 20px;
        font-size: 30px;
    }

    
    
    
    button {
        border-radius: 45px;
border: none;
        width: 100px;
    }
    
    .job {
        margin-bottom: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid blue; 
        
    }
    
    .nav {
        justify-content: center;
    }
     
    
    .nav a{
        color: #38b6ff    
    }
        
    .nav a:hover {
        font-weight: bold;
        
    }
    
    /*This is my next media query. It includes all the ADJUSTMENTS I want to make to my CSS rules for any screens that are 576px wide or bigger*/
    

    @media (min-width:576px) {
        h1{
            font-size: 80px;
    }
        
     button {
        width: 200px;
    }
    
/*This is my next media query. It includes all the ADJUSTMENTS I want to make to my CSS rules for any screens that are 768px wide or bigger*/

@media (min-width: 768px) {
    h1 {
        font-size: 100px;
    }
}
    }