img {width: 100%;
}

/*This is a comment*/

*/Color Pallette*/
*Dark Blue - #13293d
*Dark Turquoise - #006494
*Light Blue- #e8f1f2

#headshot {
    width: 100%;

}

#topper {
    background-color: #e8f1f2
    
    
}

#headshot {
    width:
    border-radius
    border: 8px 
    
}




h1 {  
    font-family: "Merriweather", serif;
    letter-spacing:normal
    font-weight:bold;
    text-transform:uppercase;
    color: #13293d;
    
    
        
        
    
}